$logo-color: #37447e;
$main-title-color: #091133;
$second-text-color: #505f98;
$primery-text-color: #6f7cb2;

$primery-btn-color: #111b47;
$second-btn-color: #111b47;
$primery-btn-text-color: #ffffff;
$second-btn-text-color: #111b47;
