$logo-color: #37447E;
$main-title-color: #091133;
$second-text-color: #505F98;
$primery-text-color: #6F7CB2;

$primery-btn-color:#111B47;
$second-btn-color: #111B47;
$primery-btn-text-color: #FFFFFF;
$second-btn-text-color: #111B47