.container{
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row;

}

.header-nav-items {
  &:not(:last-child){
    margin-right: 60px;
  }
}

.logo {
  margin: 0;
  padding: 0;
  color:#37447E;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;

}
.button {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  min-width: 160px;
  padding: 4px 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #111B47;
}