.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.herow-content{
  padding-top: 243px;
  padding-bottom: 386px;
  
}

.header-wrapp{
  display: flex;
  align-items: center;

}

.header-nav {
  display: flex;
  flex-direction: row;

}

.header-nav-items {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color:$primery-text-color;


  &:not(:last-child) {
    margin-right: 60px;
  }
}

.logo {
  font-family: 'Roboto', sans-serif;
  color: $logo-color;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.46;
  color: $logo-color;

  margin: 0;
  margin-left: 271px;
  padding-top: 10px;
  padding-bottom: 12px;

}
