.herow {
text-align: left;
padding-top: 253px;
position: relative;
}

.herow-images{

}

.herow-banner{
  position: absolute;
  top: 0px;
  left: 417px;
  transform: translate(30px 40px);
  overflow: hidden;
}

.herow-title{
  max-width: 539px;
}

.herow-text{
  margin:0;
  padding: 0;
  max-width: 539px;
}